@model IEnumerable<Degoo.Models.Link>
@*@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Degoo.Models.Link>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <div class="box">
        <h1>Degoo</h1>
        <br />
        @using (@Html.BeginForm("Search", "Link"))
        {
            <input type="text" name="keyword" placeholder="search anything" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            @*@Html.TextBox("keyword");*@
            <input type="submit" value="Search" />
        }

    </div>




</body>




